.QuizCreator{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, grey 0%, black 100%);
}

.QuizCreator > div{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.QuizCreator h1{
    text-align: center;
    color: white;
}

.QuizCreator form{
    background: rgb(34, 34, 34);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px rgba(39, 37, 37, 0.8);
}