.QuizList{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, rgb(175, 173, 173) 0%,rgb(109, 107, 107) 37%);
}
.QuizList{
    color:white;
}

.QuizList ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.QuizList li{
    margin-bottom: 10px;
}

.QuizList li a {
    text-decoration: none;
    color:white;
}
.QuizList li a:hover  {
    color:black;
}